@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.MuiSnackbar-root {
  cursor: pointer;
}

.MuiSnackbar-root .MuiSnackbar-anchorOriginTopRight {
  transition: top 2s ease-in-out;
}

.MuiAlert-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.MuiTypography-root {
  margin-bottom: 0px !important;
}

:root {
  color: #213547;
  background-color: #ffffff;
}

a:hover {
  color: #747bff;
}

button {
  background-color: #f9f9f9;
}

.leaflet-popup-content-wrapper {
  width: 250px;
}

.leaflet-popup-content span {
  display: block;
  line-height: 16px;
}

.leaflet-popup-content p {
  margin: 4px 0 0 0;
}

.leaflet-control-layers-overlays {
  text-align: start;
}

.layer-control {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* Asegúrate de que esté por encima del mapa */
}

.group {
  margin-bottom: 10px;
}

.group h4 {
  margin: 0;
  font-size: 1.1em;
}

.group label {
  display: block;
  cursor: pointer;
}

g:focus {
  outline: none;
}

path:focus {
  outline: none;
}

/* #Layers .MuiAccordionSummary-content{
  margin: 0px !important;
} */

.leaflet-popup-content p {
  margin: 0 !important;
}

td {
  text-wrap: nowrap;
}

.ps-submenu-content {
  background-color: #fff !important;
}

.highcharts-title {
  display: none;
}

.highcharts-credits {
  display: none;
}

.css-1lc2uy5-MuiPaper-root-MuiAccordion-root.Mui-disabled {
  background-color: transparent !important;
}

.notGps{
  position: relative;
}
.notGps::before{
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border: 2px solid red;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notGps::after{
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}